.search-result{
  border-bottom: 1px solid #ecf0f1;
  border-left: 1px solid #ecf0f1;
  border-right: 1px solid #ecf0f1;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

.search-result a {
  background-color: #f7f7f9;
}

#search-results {
    width: 100%;
    border: 1px solid #ccc;
    border-top-color: #d9d9d9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}