
<div class="row">
  <div class="col-md-12" style="margin-bottom: 20px;">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Search</span>
      <input #searchBox class="form-control" id="search-box" (keyup)="search(searchBox.value)" />
    </div>
    <div class="list-group search-result" *ngFor="let ask of asks | async">
      <a (click)="gotoDetail(ask)" class="list-group-item list-group-item-action">{{ask.question}}</a>
    </div>
  </div>
  <!--<div class="col-md-12">-->
    <!--<div class="card" style="margin-bottom: 20px;" *ngFor="let ask of asks | async">-->
      <!--<div class="card-header">-->
        <!--{{ask.question}}-->
      <!--</div>-->
      <!--<div class="card-block">-->
        <!--<p class="card-text">{{ask.answer}}</p>-->
      <!--</div>-->
      <!--<div class="card-footer text-muted">-->
        <!--{{ask.q_date}}-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>

