.search-result{
  border-bottom: 1px solid #ecf0f1;
  border-left: 1px solid #ecf0f1;
  border-right: 1px solid #ecf0f1;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

.search-result a {
  background-color: #f7f7f9;
}
